.footer {
    width: 100%;
    background-image: linear-gradient(to bottom right, #0096FF, #5D3FD3);
    height: 60vh;
}

.footer .col {
    width: 200px;
    height: auto;
    float: left;
    box-sizing: border-box;
    padding: 20px;
}

.footer .col h2 {
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 17px;
    padding: 10px 0;
    color: yellow;
    text-transform: uppercase;
    font: TypoGraphica;
}

.footer .col ul {
    list-style-type: none;
    padding: 0;
}

.footer .col ul li {
    color: white;
    font-size: 15px;
    padding: 5px 0px;
}

.address ul li {
    display: inline-block;
    padding-right: 5px !important;
}

.footer .col ul li:hover {
    cursor: pointer;
    color: lightgray;
    font-weight: bold;
}

.clearfix {
    clear: both;
}


/* @media only screen and (min-width: 1280px) {
    .contain {
      width: 1200px;
      margin: 0 auto;
    }
  }
  @media only screen and (max-width: 1139px) {
    .contain .address {
      width: 1000px;
      display: block;
    }
    .address h2 {
      margin: 0px;
    }
  }
  @media only screen and (max-width: 950px) {
    .footer .col {
      width: 33%;
    }
    .footer .col h2 {
      font-size: 14px;
    }
    .footer .col ul li {
      font-size: 13px;
    }
  }
  @media only screen and (max-width: 500px) {
      .footer .col {
        width: 50%;
      }
      .footer .col h2 {
        font-size: 14px;
      }
      .footer .col ul li {
        font-size: 13px;
      }
  }
  @media only screen and (max-width: 340px) {
    .footer .col {
      width: 100%;
    }
  } */

footer .contain .button {
    background-color: #c2fbd7;
    border-radius: 100px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset, rgba(44, 187, 99, .15) 0 1px 2px, rgba(44, 187, 99, .15) 0 2px 4px, rgba(44, 187, 99, .15) 0 4px 8px, rgba(44, 187, 99, .15) 0 8px 16px, rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 100px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    position: relative;
    bottom: -120px;
    right: 500px;
    z-index: 99;
}

.button:hover {
    box-shadow: rgba(44, 187, 99, .35) 0 -25px 18px -14px inset, rgba(44, 187, 99, .25) 0 1px 2px, rgba(44, 187, 99, .25) 0 2px 4px, rgba(44, 187, 99, .25) 0 4px 8px, rgba(44, 187, 99, .25) 0 8px 16px, rgba(44, 187, 99, .25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

.kurthi {
    height: 60px;
    width: 50px;
}

.shirts {
    height: 60px;
    width: 50px;
}

.kids {
    height: 60px;
    width: 50px;
}

.instagram {
    height: 25px;
    width: 25px;
}

.facebook {
    height: 20px;
    width: 20px;
}

.twitter {
    height: 25px;
    width: 25px;
}

.youtube {
    height: 33px;
    width: 25px;
}

.copyright {
    background-image: linear-gradient(to bottom right, #00008B, #1F51FF);
    text-align: center;
    color: white !important;
    height: 40px;
}

h2 {
    font-family: 'Roboto Slab', serif;
}

@media only screen and (min-width: 1280px) {
    .contain {
        width: 1200px;
        margin: 0 auto;
    }
    footer .contain .button {
        width: auto !important;
    }
}

@media only screen and (max-width: 1139px) {
    .contain .address {
        width: 1000px;
        display: block;
    }
    .address h2 {
        margin: 0px;
    }
    footer .contain .button {
        width: auto !important;
    }
}

@media only screen and (max-width: 950px) {
    .footer .col {
        width: 33%;
    }
    .footer .col h2 {
        font-size: 14px;
    }
    .footer .col ul li {
        font-size: 13px;
    }
}

@media only screen and (max-width: 500px) {
    .footer .col {
        width: 50%;
    }
    .footer .col h2 {
        font-size: 14px;
    }
    .footer .col ul li {
        font-size: 13px;
    }
}

@media only screen and (max-width: 340px) {
    .footer .col {
        width: 100%;
    }
}