.Container {
  height: 70px;
  width: 100%;
  display: flex;
  flex-direction: row;
  padding: 28px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.LeftContainer {
  width: 20%;
  height: 70px;
  display: flex;
  margin-left: 10%;
}
.RightContainer {
  width: 30%;
  height: 70px;
  display: flex;
  margin-left: -40px;
}
.MiddleContainer {
  width: 50%;
  height: 70px;
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  margin-right: 20%;
}
.Logo {
  height: 70px;
  width: 70px;
}
h2 {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
  font-size: 20px;
  transition: color 0.2s ease-in-out;
  margin-left: 25%;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-right: 30px;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
  font-size: 20px;
  transition: color 0.2s ease-in-out;
}

nav a:hover {
  color: #0f4b88;
}

.sIcon,
.tIcon {
  height: 30px;
  width: 30px;
}
.IconContainer {
  display: flex;
  gap: 30px;
}
.BuyBtn {
  margin-left: 20px;
  margin-top: -5px;
}
.Bbtn {
  height: 40px;
  width: 150px;
  border-radius: 10px;
}
.shopImg {
  height: 35px;
  width: 150px;
}
@media only screen and (max-width: 1400px) {
  .MiddleContainer
  {
    display: none;
  }
  .RightContainer
  {
    display: none;
  }
  .HambIcon
  {
    height: 30px;
    width: 30px;
  }
  .Container
  {
    display: flex;
    justify-content: space-between;
  }
}