<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap" rel="stylesheet"/>

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- Latest compiled and minified JavaScript -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="banner">
      <h1 style="font-family: 'Oswald',sans-serif">Contact Us</h1>
  </div>
  <div id="googleMap" style="width:100%;height:420px; padding: 30px 20px 30px 20px">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.626449637328!2d80.2318768!3d12.9317137!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a525d963b86bb53%3A0x17545803a493f4c8!2sZuci%20Systems%20%7C%20Software%20Development%2C%20Testing%2C%20Data%20Science%20%26%20Analytics%20Company!5e0!3m2!1sen!2sin!4v1681653222155!5m2!1sen!2sin" width="100%" height="420" style="border:0; " allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
<div class="row" style="padding: 60px 30px 30px 30px">
  <div class="column">
    <div class="home">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#384aeb" class="bi bi-house" viewBox="0 0 16 16">
        <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
      </svg>
      <h2>Rajiv Gandhi Salai, Thoraipakkam</h2> 
    </div>
    <div class="headphone">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#384aeb" class="bi bi-headphones" viewBox="0 0 16 16">
        <path d="M8 3a5 5 0 0 0-5 5v1h1a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V8a6 6 0 1 1 12 0v5a1 1 0 0 1-1 1h-1a1 1 0 0 1-1-1v-3a1 1 0 0 1 1-1h1V8a5 5 0 0 0-5-5z"/>
      </svg>
      <h2>00 (440) 9865 562</h2> 
    </div>
    <div class="email">
      <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="#384aeb" class="bi bi-envelope" viewBox="0 0 16 16">
        <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4Zm2-1a1 1 0 0 0-1 1v.217l7 4.2 7-4.2V4a1 1 0 0 0-1-1H2Zm13 2.383-4.708 2.825L15 11.105V5.383Zm-.034 6.876-5.64-3.471L8 9.583l-1.326-.795-5.64 3.47A1 1 0 0 0 2 13h12a1 1 0 0 0 .966-.741ZM1 11.105l4.708-2.897L1 5.383v5.722Z"/>
      </svg>
      <h2>support@p2k.com</h2> 
    </div>
  </div>
  <div class="column">
    <div class="form-group">
      <input class="form-control" name="name" id="name" type="text" placeholder="Enter your name">
    </div>
    <div class="form-group">
      <input class="form-control" name="email" id="email" type="email" placeholder="Enter email address">
    </div>
    <div class="form-group">
      <input class="form-control" name="subject" id="subject" type="text" placeholder="Enter Subject">
    </div>
  </div>
  <div class="column">
    <div class="form-group">
      <textarea name="message" id="message" cols="30" rows="5" placeholder="Enter Message"></textarea>
  </div>
    <button style="background-color: #384aeb; color: white; border: none; padding: 11px 26px; font-size: medium;float: right;"> Send Message</button>
  </div>
</div>


  </body>
</html>