<div class="footer">
  <div class="contain">
    <div class="col">
      <h2>P2K Shopping</h2>
      <ul>
        <li>About</li>
        <li>Our Misson</li>
        <li>Services</li>
      </ul>
    </div>
    <div class="col">
      <h2>Quick Links</h2>
      <ul>
        <li>Home</li>
        <li>Shop</li>
        <li>Blog</li>
        <li>Product</li>
        <li>Brand</li>
        <li>Contact</li>
      </ul>
    </div>
    <div class="col">
      <h2>Social Medias</h2>
      <ul>
        <li>
          <img
            src="https://png.pngtree.com/png-clipart/20221018/ourmid/pngtree-instagram-icon-3d-stereo-png-image_6306118.png"
            class="instagram"
          />&nbsp;Instagram
        </li>
        <li>
          <img
            src="https://purepng.com/public/uploads/large/whatsapp-icon-ruy.png"
            class="facebook"
          />&nbsp;&nbsp;Whatsapp
        </li>
        <li>
          <img
            src="https://purepng.com/public/uploads/large/purepng.com-twitter-icon-ios-7symbolsiconsapple-iosiosios-7-iconsios-7-721522596687v78wl.png"
            class="twitter"
          />&nbsp;Twitter
        </li>
        <li>
          <img
            src="https://png.pngtree.com/png-clipart/20221018/ourmid/pngtree-youtube-social-media-3d-stereo-png-image_6308427.png"
            class="youtube"
          />&nbsp;You Tube
        </li>
      </ul>
    </div>
    <div class="col">
      <h2>Gallery</h2>
      <ul>
        <li>
          <img
            src="https://assets0.mirraw.com/images/5355651/image_large.jpeg?1537460571"
            class="kurthi"
          />
        </li>
        <li>
          <img
            src="https://m.media-amazon.com/images/W/IMAGERENDERING_521856-T1/images/I/41Ulra1o-fL.jpg"
            class="shirts"
          />
        </li>
        <li>
          <img
            src="https://images.pexels.com/photos/1620827/pexels-photo-1620827.jpeg?cs=srgb&dl=pexels-victoria-akvarel-1620827.jpg&fm=jpg"
            class="kids"
          />
        </li>
      </ul>
    </div>
    <div class="col">
      <h2>Contact</h2>
      <ul>
        <li>+91 88258455671</li>
        <li>+91 9443723504</li>
        <li>p2kshopping2154@gmail.com</li>
      </ul>
    </div>
    <div class="col address">
      <h2>Address</h2>
      <ul>
        <li>Ashok Nagar, Moolapalayam,Chennai-638002.</li>
      </ul>
    </div>
  </div>
</div>
