.footer-section {
  background: #166bc0;
  padding: 50px 0px 50px;
}
.container,.demo {
    display: flex;
}

.row-one-text {
  font-size: 24px;
  font-weight: 600;
  color: aliceblue;
  margin-top: 10px;
}
.quick-text {
  font-size: 18px;
  font-weight: 400;
  color: aliceblue;
}
.Item-list {
  margin-top: 16px;
  font-size: 18px;
  color: #d6d6d6;
}
.contact {
  margin-top: 16px;
  display: flex;
  font-size: 20px;
  color: #c7d9da;
}
.contact-text {
  color: #b2b4b6;
  margin-left: 10px;
}
.span-text {
  margin-left: 24px;
  margin-top: -10px;
}
