<link href="https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap" rel="stylesheet">
<div class="homebanner">
    <img src="https://static.vecteezy.com/system/resources/previews/014/393/597/non_2x/cyber-monday-sale-banner-with-90-s-retro-style-illustration-background-for-media-promotion-web-banner-and-social-media-post-vector.jpg" style="width: 100%">
</div>
<!-- <section class="blog-banner-area" id="category"> -->
<!-- <div class="container h-100">
        <div class="blog-banner">
            <div class="text-center">
                <h1 style="text-align: center;">Shop</h1>
            </div>
        </div>
    </div> -->
<!-- </section> -->
<!-- <div class="container">

    <div class="catbar">
        <p style="float: left; font-size: 20px"> <span>Products</span></p>
        <select style="float: right;font-family:'Roboto',sans-serif ;font-size: 20px; font-weight: 100;">
            <option>Men Products</option>
            <option>Women Products</option>
            <option>Kids Products</option>
         <option *ngFor="let category of categories" [value]="category">{{category}}</option> -->
<!-- </select>
</div>
</div>  -->
<!-- <div class="btn-group" dropdown>
    <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
      Select a Product <span class="caret"></span>
    </button>
    <ul *dropdownMenu class="dropdown-menu" role="menu">
        <li role="menuitem"><a class="dropdown-item" routerLink="/shop">All Products</a></li>
        <li role="menuitem"><a class="dropdown-item" routerLink="/menclothing">Men Products</a></li>
        <li role="menuitem"><a class="dropdown-item" routerLink="/womenclothing">Women Products</a></li>
        <li role="menuitem"><a class="dropdown-item" routerLink="/kidsclothing">Kids Products</a></li>
    </ul>
</div> -->
<br><br><br><br><br><br>
<div class="menContainer">
    <link href="https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap" rel="stylesheet" />
    <div class="containers">
        <input type="text" name="search" [(ngModel)]="searchText" placeholder="Search for a product in this collection" class="SearchField" />
    </div>
    <div class="container">


        <p style="float: left; font-size: 20px"> <span>Products</span></p>&nbsp;&nbsp;
        <select style="float: left;font-family:'Roboto',sans-serif ;font-size: 15px; font-weight: 100;">
            <option><a  [routerLink]="['/shop']">All Products</a></option>
           <option> <a [routerLink]="['/menclothing']">Men Products</a></option>
            <option><a  [routerLink]="['/womenclothing']">Women Products</a></option>
            <option><a  [routerLink]="['/kidsclothing']">Kids Products</a></option>
            
                <!-- <option *ngFor="let category of categories" [value]="category">{{category}}</option> --> 
     </select>

    </div>



    <div class="containers">
        <div class="box" *ngFor="let product of allProducts | filter : searchText">
            <div class="imgBx">
                <a href="#"><img src="{{ product.image }}" class="images" style="width: 100%" /></a>
            </div>
            <div class="content">
                <div>
                    <a href="#"><img src="{{ product.like }}" style="width: 25px; height: 25px" class="likes" /></a>&nbsp;
                    <a href="#"><img src="{{ product.cart }}" style="width: 25px; height: 25px; bottom: 10px; right: 5px" class="carts" /></a>
                    <h2>{{ product.category }}</h2>
                    <p>{{ product.title }}</p>
                    <p>{{ product.price | currency : "INR" : "symbol" }}</p>
                </div>
            </div>
        </div>
        &nbsp;
    </div>
</div>
<router-outlet></router-outlet>