
.blog-banner-area
{height:280px;position:relative;z-index:1}
@media (min-width: 1000px)
{.blog-banner-area{height:200px}}
.blog-banner-area .blog-banner
{position:absolute;top:50%;left:50%;width:100%;transform:translate(-50%, -50%)}
.blog-banner-area::after
{content:"";display:block;position:absolute;top:0;left:0;width:100%;height:100%;background:#f1f6f7;z-index:-1}
.container{
    padding: 30px 10px 30px 10px;
}
.homebanner{
padding-top: 20px;

}

h1{
    font-family: 'Oswald',sans-serif;
    font-weight: 400;
    text-align: left;
    font-size: 40px;
    padding: 40px 0px 20px 20px;
}
span{
    border-bottom: 2px solid #384aeb;
    padding-bottom: 8px;
}
.list{
    padding: 40px 0px 20px 70px;
}
.card {
    max-width: 270px;
    max-height: 280px;
    border: none;
    margin: auto;
    text-align: center;
    font-family: arial;
    display: inline-block;
    padding: 20px 20px 0px 20px;

  }
  
.card-body{
    padding: 20px;
}
h4{
    font-family: 'Oswald',sans-serif;
    font-size: 18px;
    font-weight: 400;
}
a :hover{
    color: #384aeb;
    cursor: pointer;
}
p{
    font-family: 'Roboto',sans-serif;
    color:#978c80;
    font-size: 15px;
}
.product-price{
    font-size: 18px;
    font-weight: 500;
}
input[type=text]{
    border: 1px solid;
    border-radius: 24px;
    padding: 0px 0px 0px 15px;
    width: 98%;
    height: 40px;
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
    font-weight: 100;
}
.catbar{
    padding: 30px;
}
span{
    border-bottom: 2px solid #384aeb;
    padding-bottom: 8px;
    color: black;
    font-family: 'Oswald',sans-serif;
<<<<<<< HEAD
}
.card_Overlay {
    background: rgba(255,255,255,0.5);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 30px 5px;
    transform: translateY(30px);
    opacity: 0;
    z-index: -1;
    transition: all .48s ease;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
=======

>>>>>>> origin
}